html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header,
section {
  height: 100vh;
  overflow-y: auto;
}

section:nth-child(2n) {
  background-color: #ededed;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.flex-align-items-center {
  align-items: center;
}

.hero {
  flex-direction: column;
  align-items: center;
}

.about-content article {
  flex-direction: column;
}

section.crafts article {
  gap: 24px;
  margin-top: 24px;
}

section.crafts img {
  height: 200px;
}

.contact ul {
  padding: 0;
}

.contact ul > li {
  display: inline-block;
}
